/*css design for all pages */
:root {
    --primary-color: #313131;
    --secondary-color: #e0b354;
    --dark-grey: #2b2b2b;
    --light-grey: #D3D3D3;
    --light-green: #489c79;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --white: #fff; 
    --text-white: #fff;
    --larger-text: 18px;
    --main-text: 16px;
    --bold-font: 700;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: var(--main-text);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100%;

    /* background-color: var(--light-grey); */
    /* background: url(/img/Webpage-bkg-2.jpg); */
}

/* .profile{ 
    max-width: 700px;
    margin: 0 auto;
} */

p {
    color: white;
}

h1 {
    font-size: 7em;
    font-weight: var(--bold-font);
    margin-top: 4%;
    color: white;
}

/* h2 {
    font-size: 24px;
    font-weight: var(--bold-font)
}

h3 {
    font-size: 18px;
    font-weight: var(--bold-font)
} */

a {
    color: var(--white);
    text-decoration: none;
}

a:visited {
    color: var(--white);
    text-decoration: none;
}

a:hover, a:focus{
    text-decoration: none;
}

a:active {
    color: var(--white);
    text-decoration: none;
}


/* button css  */
.button {
    border:none; 
    display: inline-block;
    font-family: inherit;
    background-color: var(--dark-grey);
    color: var(--text-white);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--shadow-color);
    transition: opacity 0.2s;
}

.button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.button:visited {
    text-decoration: none;
    color: var(--text-white);
}

.contact-content {
    text-align: center;
}

.contact-me-link {
    margin-top: 30px;
}

.page-title {
    text-align: center;
}

/* footer  */

.page-footer {
    clear: both;
    display: flex; 
    flex-direction: column;
    flex: 50px;
    margin-top: auto;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    
}

.social-media{
    padding: 2rem;
}

/* remove page footer when screen gets too small */
@media screen and (max-width: 500px) {
    .page-footer{
        visibility: hidden;
    }
}